body {
  font-family: 'Avenir-Medium', sans-serif;
}
.active {
  color: #FA7C92;
  background-color: #FFFFFF;
}

#mission-statement {
  background-color: #FA7C92;
}

footer {
  background-color: #FFF7C0;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}
